@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500;600;700&display=swap');

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      font-family: 'Spline Sans', sans-serif;
      color: #fff;
      line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
      font-weight: 600;
      color: #222;
}

a {
      color: #222;
      text-decoration: none;
      transition: all 0.4s;
      font-weight: 600;
}

a:hover {
      color: #F58d17;
}

img {
      width: 100%;
}

/* btn */
.btn {
      border-radius: 0;
      padding: 14px 30px;
}

.btn-brand {
      color: #fff;
      font-weight: 500;
      border-color: #F58d17;
      background-color: #F58d17;
}

.btn-brand:hover {
      border-color: #d37810;
      background-color: #d37810;
      color: #fff;
}

/* Slider */
.bg-cover {
      background-position: center !important;
      background-size: cover !important;
      background-repeat: no-repeat !important;
}

.slide-1 {
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(images/cover1.jpg);



}

.slide-2 {
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(images/cover2.jpg);

}

.carousel-control-prev,
.carousel-control-next {
      background-color: yellowgreen;
      width: 40px;
      height: 70px;
      margin: auto;
}

#herosection h6::after,
#herosection h6::before {
      content: '';
      display: inline-block;
      width: 40px;
      height: 4px;
      background-color: #fff;
      margin: 10px;
      vertical-align: middle;
}

/* About section */
section {
      padding-top: 120px;
      padding-bottom: 120px;
}

#about .divider {
      width: 40px;
      height: 5px;
      background-color: #F58d17;
      display: block;

}

/* menu section */

.intro-text {
      margin-bottom: 40px;
      text-align: center;
}

.intro-text p {
      max-width: 500px;
      margin: 16px auto 0 auto;
}

#menu .nav-pills .nav-link {
      background-color: #fff;
      margin-left: 8px;
      margin-right: 8px;
      color: #222;
      border-radius: 100px;
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);

}

#menu .nav-pills .nav-link.active {
      background-color: #F58d17;
      color: #ffffff;
}

.menu-item .star {
      color: #F58d17;
}

p {
      color: black;
}

.shadow-on-hover {
      transition: all 0.3s;
}

.shadow-on-hover:hover {
      box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.1);
}

/* features section */

#features {
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(images/cover2.jpg);

}

.feature {
      border: 2px solid rgba(255, 255, 255, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
}

.feature .feature-icon {
      width: 80px;
      height: 80px;
      background-color: #F58d17;
      color: #fff;
      font-size: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      /* text-align: center; */
}

/* Team Member Section */

.team-member img {
      max-width: 140px;
      box-shadow: -10px -10px 0 #F58d17;
      border-radius: 100px;
      /* border-radius: 50%; */
}


/* Reviews Section */

#reviews {
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(images/cover3.jpg);

}

.review img {
      width: 75px;
      height: 75px;
      object-fit: cover;
}

.person .star {
      color: #F58d17;
}

.review .quote-icon {
      font-size: 75px;
      color: #F58d17 !important;
      line-height: 1;
}

#reviews .carousel-indicators {
      margin-bottom: -3rem;


}


/* Reservation */

#reservation .form-control {
      border-radius: 0;
}

#reservation .form-control:focus {
      box-shadow: none;
      border-color: #F58d17;
}

/* Insta Post */

.insta-post {
      position: relative;
      overflow: hidden;
}

.insta-post .insta-btn {
      width: 90px;
      height: 90px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translate(-50%, -50%);
      font-size: 28px;
      opacity: 0;

}

.insta-post img {
      transition: all 0.4s;
}

.insta-post:hover img {
      transform: scale(1.2);
}

.insta-post:hover .insta-btn {
      opacity: 1;

}

/* Blog */

.blog-post img {
      width: 40%;
      object-fit: cover;
}

@media (max-width:768px) {
      .blog-post {
            flex-direction: column;
      }

      .blog-post img {
            width: 100%;
      }
}

.blog-post img {
      transition: all 0.4s;
}

.blog-post:hover img {
      transform: scale(1.1);
}

/* footer */
.footer-top {
      margin-bottom: 30px;
}

footer {
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(images/cover2.jpg);
      padding-top: 120px;
      padding-bottom: 30px;
}

footer p {
      color: rgba(255, 255, 255);
}

footer a {
      color: rgba(255, 255, 255, 0.75);
      font-weight: normal;
      font-size: 24px;
      margin-right: 10px;

}

footer img {
      max-width: 175px;
}

.footer-bottom {
      padding-top: 30px;
      border-top: 1px solid rgba(255, 255, 255, 0.4);
}